.first {
  background-color: $ui-dark-shade-100;
}

.second {
  background-color: $ui-dark-shade-75;
}

.third {
  background-color: $ui-dark-shade-50;
}

.fourth {
  background-color: $ui-dark-shade-25;
}

.fifth {
  background-color: $ui-dark-shade-5;
}

.sixth {
  background-color: $ui-purple;
}

.seventh {
  background-color: $ui-green;
}

.text_example--title {
  font: $ui-font-title;
}
.text_example--subtitle {
  font:$ui-font-subtitle;
}
.text_example--label {
  font:$ui-font-label;
}
.text_example--body {
  font:$ui-font-text;
}

