.colors-and-types--wrapper {
  display: flex;
  justify-content: space-between;
}

.color_types--shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
//colors
.first {
  background-color: $ui-dark-shade-100;
}

.second {
  background-color: $ui-dark-shade-75;
}

.third {
  background-color: $ui-dark-shade-50;
}

.fourth {
  background-color: $ui-dark-shade-25;
}

.fifth {
  background-color: $ui-dark-shade-5;
}

.sixth {
  background-color: $ui-purple;
}

.seventh {
  background-color: $ui-green;
}
//text-styles
.text_example {
  max-width: 39%;
}

.text-example--title {
  font: $ui-font-title;
}
.text-example--subtitle {
  font:$ui-font-subtitle;
}
.text-example--label {
  font:$ui-font-label;
}
.text-example--body {
  font:$ui-font-text;
  line-height: 1.2;
  letter-spacing: -0.1px;
}

