import 'air-datepicker'
mixin filter-date-dropdown()
	input#my-datepicker44(type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" data-position='right top')

	//.filter-date-dropdown
	//	.filter-date-dropdown--wrapper
	//		label(for='filter-date-dropdown' class='data-dropdown__label--style') filter date dropdown
	//		.data-dropdown
				//input(type='text' id='date_range' name='filter-date-dropdown' class="filter-date-dropdown__input--style"  )
				//input.datepicker-here(type='text', data-position='right top')
