mixin drop-down-default(text)

	.drop-down-default
		.drop-down-default--wrapper
			label(for='drop-down' class='default-text-field__label--style') Dropdown
			.drop-down-default--specification default
		select(id='drop-down' name='drop-down' class='drop-down-default__input--style')
			option(value='' selected)= text
