mixin text_example(class_text, what, how)
	.text-example__mixin
		.text-example__mixin--type(class='text-example--' + class_text)= what
		.text-example__mixin--type
		.text-example__mixin--text(class='text-example--' + class_text)= how
