mixin text-field-hover(text)

	.text-field-hover
		.text-field-hover--wrapper
			label(for='some-text' class='default-text-field__label--style') Text Field
			.text-field-hover--specification default
		input(name='some-text' id='some-text' class="text-field-hover__input--style" placeholder=text)