mixin mask-text-field()

	.mask-text-field
		.mask-text-field--wrapper
			label(for='some-text' class='mask-text-field__label--style') Text Field
			.mask-text-field--specification default
		input(name='some-text' id='some-text' class="mask-text-field__input--style" type='date')