mixin dropdown-default(text_for_dropdown, text_for_specification)

	.dropdown-default.default-text-field
		.default-text-field--wrapper
			label(for='email' class='default-text-field__label--style') dropdown
			.default-text-field--specification= text_for_specification
		.default-text-field--wrapper
			.dropdown.default-text-field__input--style= text_for_dropdown
			.dropdown-default__icon