include ./default-text-field/default-text-field
include hover-text-field/hover-text-field
include dropdown-default/dropdown-default
include ./masked-text-field/masked-text-field
include ./data-dropdown/data-dropdown


form.form-elements
	+default-text-field('Email', 'default','')
	+hover-text-field('This is pretty awesome')
	+dropdown-default('Сколько гостей')
	+mask-text-field()
	+data-dropdown()