.color_types__mixin--wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 1.1vw 0;
}

.color_types__mixin{
  width: 70px;
  height: 70px;
  border-radius: 6px;

    &--padding {
        padding-left: 3vw;
      }

    &--text_up {
      font: bold 1.2rem/1.8rem $ui-font-family;
    }
    &--text_down{
      font: normal 1.2rem/1.2rem $ui-font-family;
    }
}


