mixin color(type, text_up, text_down)
	.color_types__mixin--wrapper
		.color_types__mixin(class= type)
		.color_types__mixin--padding
			.color_types__mixin--text_up= text_up
			.color_types__mixin--text_down=	text_down