mixin default-text-field(text)

	.default-text-field
		.default-text-field--wrapper
			label(for='email' class='default-text-field__label--style') Text Field
			.default-text-field--specification default
		input(name='email' id='email' class="default-text-field__input--style" placeholder=text)