mixin hover-text-field(text)

	.hover-text-field
		.hover-text-field--wrapper
			label(for='some-text' class='default-text-field__label--style') Text Field
			.hover-text-field--specification hover/focus
		input(name='some-text' id='some-text' class="hover-text-field__input--style" placeholder=text)
