.hover-text-field {
  outline: none;
  padding-bottom: 10px;

  &:hover, :focus, :active {
    outline: none;
  }

  ::-webkit-input-placeholder {color:$ui-dark-shade-75; opacity:1;}/* webkit */
  ::-moz-placeholder          {color:$ui-dark-shade-75; opacity:1;}/* Firefox 19+ */
  :-moz-placeholder           {color:$ui-dark-shade-75; opacity:1;}/* Firefox 18- */
  :-ms-input-placeholder      {color:$ui-dark-shade-75; opacity:1;}/* IE */

  :focus::-webkit-input-placeholder {opacity:0;}/* webkit */
  :focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
  :focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
  :focus:-ms-input-placeholder      {opacity:0;}/* IE */

  &--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    max-width: 320px;
  }

  &__label--style {
    font: $ui-font-label;
    color: $ui-dark-shade-100;
    text-transform: uppercase;
  }

  &--specification {
    text-transform: uppercase;
    text-align: right;
    font: $ui-font-text;
    color: $ui-dark-shade-50;
    font-weight: normal;
  }

  &__input--style {
    border-radius: 4px;
    border: 1px solid $ui-dark-shade-50;
    padding: 10px;
    font: $ui-font-text;
    min-width: 300px;
    color: $ui-dark-shade-50;
  }

}
