$ui-dark-shade-100: #1F2041 !default;
$ui-dark-shade-75: rgba(31, 32, 65, 0.75) !default;
$ui-dark-shade-50: rgba(31, 32, 65, 0.5) !default;
$ui-dark-shade-25: rgba(31, 32, 65, 0.25) !default;
$ui-dark-shade-5: rgba(31, 32, 65, 0.05) !default;
$ui-purple: #BC9CFF !default;
$ui-green: #6FCF97 !default;

$ui-font-title: bold 1.7143rem Quicksand !default;
$ui-font-subtitle: bold 1.3571rem Quicksand !default;
$ui-font-label: bold 0.8571rem Montserrat !default;
$ui-font-text: normal 1rem Montserrat !default;

$ui-font-family: Quicksand !default;